.allure/
target/
.mvn/
src/database/log
src/database/lib


### VSCode ###
.vscode
.sts4-cache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

hs_err_pid10972.log
hs_err_pid30308.log.log
replay_pid30308.log